@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: beige;
    overflow: hidden;
}

.hidden {
    display: none;
}
img {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 90%;
    animation: fadeIn 0.5s linear;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock {
    color: #fff;
    /* border: 1px solid red; */
    width: fit-content;
    font-size: 10rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#greeting {
    /* border: 1px solid blue; */
    color: #fff;
    font-size: 1.5rem;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-weight: 300;
}
#login-form {
    /* border: 1px solid orange; */
}
#login-form .input1 {
    width: 265px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    /* color: #fff; */
    outline: none;
    color: #fff;
    font-size: 1.5rem;
}
#login-form .input1::placeholder {
    opacity: 0.75;
    color: #fff;
    font-size: 1.5rem;
}
#login-form .submit {
    display: hidden;
}

#weather {
    position: fixed;
    top: 0.5vh;
    right: 0.5vw;
    width: fit-content;
    border: 1px solid red;
    color: #fff;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temp{
    font-weight: 500;
    font-size: 22px;
}

.city{
    font-weight: 300;
    font-size: 12px;
}